<!-- Since the twitter plugin is so closely related to the feed plugin, we're using the feed helper get_feed in both plugins, even tho it is only listed in feed.rb-->
<% feed = get_feed(@parameters["uri"])%>

<% if feed =="error"%>
    <%= javascript_tag "alert('Could not create Feed item. Please check if the feed url is correct.')"%>
    <%= javascript_tag "jQuery('##{itemid}').remove();" %> 
<% else %>
    <div class="ui-widget">
        <div class="ui-widget-header">
            <%= @parameters["title"] %>
        </div>

        <% feed.items.each_with_index do |topic,i| %>
            <div id="twitterfeed<%=i%>" class="twitterfeed" style="display:none;">
                    <%= image_tag "twitter_icon.gif", :html => {"align" => "left"}%>
                    <%= topic.title %><br>
                    <small> Added on <%= topic.date.strftime('%m/%d/%Y')%> </small>
            </div>
        <% end %>
    </div>
    <%= javascript_tag "update_twitterfeed(#{feed.items.size})"%>
<% end %>

