<div class="ui-widget-header"><center>BernardBoard</center></div>
<center><div id="boards_table">
        <table>
            <tr>
                <th>Name</th>
                <th>Width</th> 
                <th>Height</th> 
            </tr>

            <% @boards.each do |board| %> 
                <tr>
                    <td><%=h board.name %></td>
                    <td><%=h board.width %></td> 
                    <td><%=h board.height %></td>
                    <td><%= button_to 'Show', {:action => "show", :controller => "boards", :id => board.id, :method => "get"},
                                              {:class => "ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only",
                                                  :method => "get"} %></td>
                    <td> <%= button_to_remote "Delete Board", 
                                            {:url => {:action => "delete_board", :id =>board.id}, :with => "'name=' + '#{board.name}'"},
                                            :class => "ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
                                                 %> </td>
                </tr>
            <% end %>
        </table>
        <div id="board_paginate"><%= will_paginate @boards %></div>
</div></center>
<div style="position:absolute;bottom:10%;right:10%;">
    <%= button_to 'Edit and Create boards', 
            {:action => :index, :controller => :griditems},
            {:class => "ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only",
             :method => "get"}
    %></div>

