<h1>Editing griditems</h1>

<% form_for(@griditems) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </p>
  <p>
    <%= f.label :co_ordinates %><br />
    <%= f.text_field :co_ordinates %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @griditems %> |
<%= link_to 'Back', griditems_path %>