<p>
  <b>Name:</b>
  <%=h @griditems.name %>
</p>

<p>
  <b>Type:</b>
  <%=h @griditems.type %>
</p>

<p>
  <b>Co ordinates:</b>
  <%=h @griditems.co_ordinates %>
</p>


<%= link_to 'Edit', edit_griditems_path(@griditems) %> |
<%= link_to 'Back', griditems_path %>