<% id = Time.now.to_i %>
<% feed = get_feed(@parameters["uri"])%>
<% if feed == "error" %>
    <%= javascript_tag "alert('Could not create Feed item. Please check if the feed url is correct.')"%>
    <%= javascript_tag "jQuery('##{itemid}').remove();" %>
<% else %>
    <div class="ui-widget">
        <div class="ui-widget-header">
            <%= @parameters["title"] %>
        </div>

        <% feed.items.each_with_index do |topic,i| %>
            <div id="feed<%=i%><%= id%>" class="feed<%=id %>" style="display:none;color:#00ff00;font-family:'Courier New', 'Courier', 'monospace';">
                <div id="feed-header<%=i%>" 
                    <%= image_tag "rss_icon.gif", :html => {"align" => "left"}%>
                    <%= topic.title %><br>
                    <small> Added on <%= topic.date.strftime('%m/%d/%Y')%> </small>
                    <HR>
                </div>
        
                <div id="feed-description<%=i%><%=id%>"><%= topic.description.gsub(/<[^>]+>/,"").squeeze(" ").strip %></div>
            </div>
        <% end %>
    </div>

    <%= javascript_tag "update_feed(#{feed.items.size}, #{id})"%>
<% end %>

